@use "../utils/index" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
}
