@use "../utils/index" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.experience-container {
  font-family: "JetBrains Mono", monospace;
  color: $text-color;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.job {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $text-color;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.job-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.job-company {
  font-size: 1.2rem;
  color: $text-color;
}

.job-duration {
  font-size: 1rem;
  color: #18181888;
}

.job-location {
  font-size: 1rem;
  color: #18181888;
  margin-bottom: 10px;
}

.job-summary {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.badges-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.badge {
  background-color: $text-color;
  color: $background-color;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: "SoureCode Pro", monospace;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.job-responsibilities {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.job-responsibilities li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

@media (max-width: 768px) {
  .job-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .job-location,
  .job-summary {
    text-align: left;
  }

  .badges-container {
    justify-content: center;
  }
}
